*{padding:0;margin:0}
body { width: 60em; margin: 2em auto; padding: 2 2em; font-size: 62.5%; font-family: "Microsoft YaHei";}
p{line-height: 2.4em; margin: 1em 0;}
header{padding: .5em 0; border-bottom: .4em solid #cccccc;}
header h1 { font-family: "Microsoft YaHei";font-size: 3em;}
nav{ float:left; font-family: "Microsoft YaHei"; font-size: 2em; text-transform: uppercase; margin-left: -12em; width: 9em; text-align: right;}
nav a{ display:block; text-decoration:none; padding:.7em 1em; color:#000000;}
nav a:hover{ background-color:#ff0000; color:#f9f9f9; -webkit-transition:color .2s linear;}
article{font-size:1.6em;padding-top:.5em;}
article a{color:#dd0000;text-decoration:none;}
article a:hover{color:#333333;text-decoration:underline;}

.content{ width: 40em; display: inline-block; padding: .5em 1em .6em; margin-bottom: 1em; text-decoration: none; border-radius: .5em;
-moz-border-radius: .5em; -webkit-border-radius: .5em; -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25); position: relative; }

.info{width: 20em; font-size:1.4px; border-bottom: 1px solid #cccccc;}
.success{ color: lawngreen; }
.error{ color: red; }